@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
$green: #019147
*
    margin: 0
    padding: 0
    box-sizing: border-box
    transition: .9s
    scroll-behavior: smooth
html 
    transition: .9s
    scroll-behavior: smooth
body
    transition: .9s
    font-family: 'Poppins', sans-serif
    background-color: #f7f8f9
    scroll-behavior: smooth
    &::-webkit-scrollbar-track
        background: #dfdcdc
    &::-webkit-scrollbar
        width: 13px
        border-radius: 10px
    &::-webkit-scrollbar-thumb
        background: $green
        border-radius: 5px
.container
    max-width: 1240px
    width: 100%
    padding: 0px 40px
    margin: 0px auto
section
    margin: 70px 0px
    &:nth-child(1)
        margin: 0px 0px
button
    padding: 12px 24px
    background-color: #FF9822
    border-radius: 4px
    border: 0px none
    outline: none
    color: #fff
    font-weight: 600
    font-size: 18px
    &:hover
        opacity: .7
        cursor: pointer
        transition: .5s
.pre__navbar
    background-color: #121413
    padding: 10px 0px
    .pre__nav-content
        display: flex
        justify-content: space-between
        align-items: center
        align-self: center
        color: #fff
        .pre__content-contact
            a
                text-decoration: none
                color: #fff
                margin-left: 30px
                &:nth-child(1)
                    margin-left: 0px
        .pre__content-social
            display: flex
            .social__item
                margin-left: 20px
                a
                    margin-right: 10px
                    &:nth-child(2)
                        margin-right: 0px
                    img
                        width: 20px
                        height: 20px
.brand
    color: #019147
    font-size: 28px
    text-decoration: none
.navbar
    padding: 20px 0px
    margin: 0px 0px
    .nav__content
        display: flex
        justify-content: space-between
        align-items: center
        align-self: center
        .nav__block
            a
                text-decoration: none
            nav
                ul
                    display: flex
                    align-items: center
                    align-self: center
                    li
                        list-style: none
                        margin-left: 18px
                        a
                            color: #000
                            font-weight: 500
                            font-size: 22px
                            transition: .4s
                            &:hover
                                color: #019147
                                border-bottom: 3px solid #019147

.banner
    margin-top: 20px
    .banner__intro
        background-image: url("../img/banner.svg")
        background-size: cover
        padding: 100px 120px
        width: 100%
        min-height: 100%
        border-radius: 30px
        color: #fff
        h1
            font-size: 48px
            font-weight: 600
            max-width: 60%
            line-height: 1.2em
            text-transform: capitalize
        p
            max-width: 60%
            margin-top: 20px
    button
        margin: 10px 0px
        text-transform: capitalize
.time
    margin: 120px 0px
    .time__intro
        h1
            font-size: 48px
    .time__info
        display: grid
        grid-template-columns: 40% 60%
        box-shadow: 0px 0px 11px 0px #00000015
        border-radius: 7px
        margin-top: 50px
        position: relative
        .art1
            position: absolute
            bottom: 3%
            left: 2%
        .time__welcome
            padding: 43px 45px
            background-color: #fff
            border-radius: 7px
            .welcome__intro
                h1
                    font-size: 36px
                p
                    color: #646464
                    margin: 10px 0px
                button
                    background-color: #019147
                    margin-top: 20px
        .time__excel
            padding: 23px 45px
            .excel__info-intro
                display: grid
                grid-template-columns: 1fr 1fr 1fr
                .excel__intro-item
                    display: flex
                    flex-direction: column
                    img
                        margin: 0px auto
                    h1
                        text-align: center
            .excel__time-name
                display: grid
                grid-template-columns: 1fr 1fr 1fr
                gap: 20px
                .time__name-item
                    display: flex
                    align-items: center
                    margin: 40px 0px
                    background-color: #fff
                    padding: 12px 12px
                    border-radius: 12px
                    box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.1)
                    p
                        color: #646464
                        font-size: 22px
                        font-weight: 500
                        margin-left: 14px
                    img
                        width: 24px
                        height: 24px
.quote
    img
        position: absolute
        bottom: 0px
        left: 0px
    .quote__content
        background-color: #E6F8EF
        padding: 34px 54px
        border-radius: 10px
        position: relative
        .quote__intro
            h1
                text-align: left
                font-size: 48px
        .quote__generate
            max-width: 60%
            text-align: left
            margin-top: 30px
            h1
                font-size: 24px
                font-weight: 400
.map
    .map__content
        .map__intro
            margin: 30px 0px
            h1
                font-size: 48px
                text-align: left
.services
    position: relative
    .service__content
        background-color: #019147
        padding: 40px 40px
        border-radius: 10px
        position: relative
        .art1
            position: absolute
            top: -40%
            left: -15%
        .service__intro
            text-align: center
            color: #fff
            h1
                font-size: 36px
            p
                max-width: 60%
                margin: 10px auto
        .service__cards
            display: grid
            grid-template-columns: 1fr 1fr 1fr 1fr
            gap: 30px
            margin-top: 40px
            .service__card-item
                background-color: #fff
                border-radius: 5px
                padding: 22px 15px
                cursor: pointer
                transition: .5s
                img
                    width: 50px
                    height: 50px
                h1
                    margin: 14px 0px
                p
                    font-size: 14px
                &:hover
                    background-color: #5eb98a
                    color: #fff
.contacts
    .contact__content
        padding: 50px 0px
        background-color: #b8f1d5
        border-radius: 10px
        .contact__intro
            text-align: center
            h1
                font-size: 36px
            p
                margin: 10px 0px
                font-weight: 600
                font-size: 18px
            button
                margin-top: 30px
                position: relative
                padding: 12px 52px
                img
                    width: 30px
                    height: 30px
                    position: absolute
                    left: 6%
                    top: 15%
footer
    background: #333333
    .footer__content
        padding: 40px 0px
        .footer__block
            display: grid
            grid-template-columns: 1fr 1fr 1fr 1fr
            gap: 30px
            .footer__block-item
                .brand
                    h1
                        color: #fff
                nav
                    ul
                        display: flex
                        flex-direction: column
                        h1
                            color: #fff
                        li
                            margin-top: 13px
                            list-style: none
                            a
                                text-decoration: none
                                color: #fff
                                font-weight: 600
                                transition: .3s
                                &:hover
                                    border-bottom: 2px solid #fff
                .pre__content-social
                    display: flex
                    justify-content: space-between
                    align-items: center
                    p
                        color: #fff
                        font-size: 24px
                        font-weight: 500
                    .social__item
                        display: flex
                        justify-content: space-between
                        a
                            img
                                width: 30px
                                height: 30px
                                margin-left: 15px
                                transition: .3s
                                &:hover
                                    opacity: .5
