@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.9s;
  scroll-behavior: smooth;
}

html {
  transition: 0.9s;
  scroll-behavior: smooth;
}

body {
  transition: 0.9s;
  font-family: "Poppins", sans-serif;
  background-color: #f7f8f9;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar-track {
  background: #dfdcdc;
}
body::-webkit-scrollbar {
  width: 13px;
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
  background: #019147;
  border-radius: 5px;
}

.container {
  max-width: 1240px;
  width: 100%;
  padding: 0px 40px;
  margin: 0px auto;
}

section {
  margin: 70px 0px;
}
section:nth-child(1) {
  margin: 0px 0px;
}

button {
  padding: 12px 24px;
  background-color: #FF9822;
  border-radius: 4px;
  border: 0px none;
  outline: none;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}
button:hover {
  opacity: 0.7;
  cursor: pointer;
  transition: 0.5s;
}

.pre__navbar {
  background-color: #121413;
  padding: 10px 0px;
}
.pre__navbar .pre__nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  color: #fff;
}
.pre__navbar .pre__nav-content .pre__content-contact a {
  text-decoration: none;
  color: #fff;
  margin-left: 30px;
}
.pre__navbar .pre__nav-content .pre__content-contact a:nth-child(1) {
  margin-left: 0px;
}
.pre__navbar .pre__nav-content .pre__content-social {
  display: flex;
}
.pre__navbar .pre__nav-content .pre__content-social .social__item {
  margin-left: 20px;
}
.pre__navbar .pre__nav-content .pre__content-social .social__item a {
  margin-right: 10px;
}
.pre__navbar .pre__nav-content .pre__content-social .social__item a:nth-child(2) {
  margin-right: 0px;
}
.pre__navbar .pre__nav-content .pre__content-social .social__item a img {
  width: 20px;
  height: 20px;
}

.btn {
  display: none;
}

.brand {
  color: #019147;
  font-size: 28px;
  text-decoration: none;
}

.navbar {
  padding: 20px 0px;
  margin: 0px 0px;
}
.navbar .nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}
.navbar .nav__content .nav__block a {
  text-decoration: none;
}
.navbar .nav__content .nav__block nav ul {
  display: flex;
  align-items: center;
  align-self: center;
}
.navbar .nav__content .nav__block nav ul li {
  list-style: none;
  margin-left: 18px;
}
.navbar .nav__content .nav__block nav ul li a {
  color: #000;
  font-weight: 500;
  font-size: 22px;
  transition: 0.4s;
}
.navbar .nav__content .nav__block nav ul li a:hover {
  color: #019147;
  border-bottom: 3px solid #019147;
}

.banner {
  margin-top: 20px;
}
.banner .banner__intro {
  background-image: url("../img/banner.svg");
  background-size: cover;
  padding: 100px 120px;
  width: 100%;
  min-height: 100%;
  border-radius: 30px;
  color: #fff;
}
.banner .banner__intro h1 {
  font-size: 48px;
  font-weight: 600;
  max-width: 60%;
  line-height: 1.2em;
  text-transform: capitalize;
}
.banner .banner__intro p {
  max-width: 60%;
  margin-top: 20px;
}
.banner button {
  margin: 10px 0px;
  text-transform: capitalize;
}

.time {
  margin: 120px 0px;
}
.time .time__intro h1 {
  font-size: 48px;
}
.time .time__info {
  display: grid;
  grid-template-columns: 40% 60%;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.0823529412);
  border-radius: 7px;
  margin-top: 50px;
  position: relative;
}
.time .time__info .art1 {
  position: absolute;
  bottom: 3%;
  left: 2%;
}
.time .time__info .time__welcome {
  padding: 43px 45px;
  background-color: #fff;
  border-radius: 7px;
}
.time .time__info .time__welcome .welcome__intro h1 {
  font-size: 36px;
}
.time .time__info .time__welcome .welcome__intro p {
  color: #646464;
  margin: 10px 0px;
}
.time .time__info .time__welcome .welcome__intro button {
  background-color: #019147;
  margin-top: 20px;
}
.time .time__info .time__excel {
  padding: 23px 45px;
}
.time .time__info .time__excel .excel__info-intro {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.time .time__info .time__excel .excel__info-intro .excel__intro-item {
  display: flex;
  flex-direction: column;
}
.time .time__info .time__excel .excel__info-intro .excel__intro-item img {
  margin: 0px auto;
}
.time .time__info .time__excel .excel__info-intro .excel__intro-item h1 {
  text-align: center;
}
.time .time__info .time__excel .excel__time-name {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.time .time__info .time__excel .excel__time-name .time__name-item {
  display: flex;
  align-items: center;
  margin: 40px 0px;
  background-color: #fff;
  padding: 12px 12px;
  border-radius: 12px;
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.1);
}
.time .time__info .time__excel .excel__time-name .time__name-item p {
  color: #646464;
  font-size: 22px;
  font-weight: 500;
  margin-left: 14px;
}
.time .time__info .time__excel .excel__time-name .time__name-item img {
  width: 24px;
  height: 24px;
}

.quote img {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.quote .quote__content {
  background-color: #E6F8EF;
  padding: 34px 54px;
  border-radius: 10px;
  position: relative;
}
.quote .quote__content .quote__intro h1 {
  text-align: left;
  font-size: 48px;
}
.quote .quote__content .quote__generate {
  max-width: 60%;
  text-align: left;
  margin-top: 30px;
}
.quote .quote__content .quote__generate h1 {
  font-size: 24px;
  font-weight: 400;
}

.map .map__content .map__intro {
  margin: 30px 0px;
}
.map .map__content .map__intro h1 {
  font-size: 48px;
  text-align: left;
}

.services {
  position: relative;
}
.services .service__content {
  background-color: #019147;
  padding: 40px 40px;
  border-radius: 10px;
  position: relative;
}
.services .service__content .art1 {
  position: absolute;
  top: -40%;
  left: -15%;
}
.services .service__content .service__intro {
  text-align: center;
  color: #fff;
}
.services .service__content .service__intro h1 {
  font-size: 36px;
}
.services .service__content .service__intro p {
  max-width: 60%;
  margin: 10px auto;
}
.services .service__content .service__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 40px;
}
.services .service__content .service__cards .service__card-item {
  background-color: #fff;
  border-radius: 5px;
  padding: 22px 15px;
  cursor: pointer;
  transition: 0.5s;
}
.services .service__content .service__cards .service__card-item img {
  width: 50px;
  height: 50px;
}
.services .service__content .service__cards .service__card-item h1 {
  margin: 14px 0px;
}
.services .service__content .service__cards .service__card-item p {
  font-size: 14px;
}
.services .service__content .service__cards .service__card-item:hover {
  background-color: #5eb98a;
  color: #fff;
}

.contacts .contact__content {
  padding: 50px 0px;
  background-color: #b8f1d5;
  border-radius: 10px;
}
.contacts .contact__content .contact__intro {
  text-align: center;
}
.contacts .contact__content .contact__intro h1 {
  font-size: 36px;
}
.contacts .contact__content .contact__intro p {
  margin: 10px 0px;
  font-weight: 600;
  font-size: 18px;
}
.contacts .contact__content .contact__intro button {
  margin-top: 30px;
  position: relative;
  padding: 12px 52px;
}
.contacts .contact__content .contact__intro button img {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 6%;
  top: 15%;
}

footer {
  background: #333333;
}
footer .footer__content {
  padding: 40px 0px;
}
footer .footer__content .footer__block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}
footer .footer__content .footer__block .footer__block-item .brand h1 {
  color: #fff;
}
footer .footer__content .footer__block .footer__block-item nav ul {
  display: flex;
  flex-direction: column;
}
footer .footer__content .footer__block .footer__block-item nav ul h1 {
  color: #fff;
}
footer .footer__content .footer__block .footer__block-item nav ul li {
  margin-top: 13px;
  list-style: none;
}
footer .footer__content .footer__block .footer__block-item nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  transition: 0.3s;
}
footer .footer__content .footer__block .footer__block-item nav ul li a:hover {
  border-bottom: 2px solid #fff;
}
footer .footer__content .footer__block .footer__block-item .pre__content-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer__content .footer__block .footer__block-item .pre__content-social p {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}
footer .footer__content .footer__block .footer__block-item .pre__content-social .social__item {
  display: flex;
  justify-content: space-between;
}
footer .footer__content .footer__block .footer__block-item .pre__content-social .social__item a img {
  width: 30px;
  height: 30px;
  margin-left: 15px;
  transition: 0.3s;
}
footer .footer__content .footer__block .footer__block-item .pre__content-social .social__item a img:hover {
  opacity: 0.5;
}

@media screen and (max-width: 1140px) {
  .container {
    max-width: 1140px;
    width: 100%;
    padding: 0px 30px;
    margin: 0px auto;
  }
  .pre__navbar .pre__nav-content {
    flex-direction: column;
  }
  .navbar .nav__content .nav__links nav ul {
    flex-direction: column;
  }
  .navbar .nav__content .nav__links nav ul li a {
    color: #fff;
  }
  .navbar .nav__content .nav__brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .banner .banner__intro h1 {
    font-size: 36px;
  }
  .banner .banner__intro p {
    font-size: 20px;
  }
  .services .service__content .service__cards {
    grid-template-columns: 1fr 1fr;
  }
  .time .time__info {
    grid-template-columns: 1fr;
  }
  .time .time__info .time__excel {
    overflow-y: scroll;
    width: 90%;
  }
  .menu {
    min-height: 30vh;
    width: 100%;
    position: fixed;
    top: -120%;
    left: 0;
    z-index: 2000;
    background-color: #019147;
    padding: 15px 20px;
    transition: 0.5s;
    display: block;
  }
  .menu .btn__close {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .menu ul {
    flex-direction: column;
    margin: 10px 0px;
  }
  .menu ul li {
    margin: 20px 0px;
    text-align: center;
  }
  .menu ul li a {
    color: #fff;
  }
  .menu ul button {
    max-width: 70%;
    margin: 0px auto;
  }
  .btn {
    background: transparent;
    outline: none;
    border: 0px none;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .btn img {
    max-width: 50%;
  }
  .menu-active {
    top: 0;
  }
  footer .footer__content .footer__block {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  .pre__navbar .pre__nav-content .pre__content-contact {
    display: flex;
    flex-direction: column;
  }
  .pre__navbar .pre__nav-content .pre__content-contact a {
    margin-left: 0px;
    margin-top: 10px;
  }
  .pre__navbar .pre__nav-content .pre__content-social {
    margin: 20px 0px;
  }
  .banner .banner__intro {
    padding: 100px 25px;
  }
  .banner .banner__intro h1 {
    max-width: 100%;
  }
  .banner .banner__intro p {
    max-width: 100%;
  }
  .services .service__content .service__cards {
    grid-template-columns: 1fr;
  }
  .quote .quote__content .quote__generate {
    max-width: 100%;
  }
  footer .footer__content .footer__block {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=main.css.map */